<section id="login" style="background-color: white;">
    <div class="row align-items-center">
        <div class="col-md-6 col-lg-7">
            <img class="img-fluid" src="assets/img/logos/login.png" alt="Card image cap">
        </div>
        <div class="col-md-5 col-lg-4">
            <p class="content-header text-center font-large-3">Login</p>
            <form novalidate="" (ngSubmit)="onSubmit()" #f="ngForm">
                <div class="form-group">
                    <div class="col-md-12">
                        <label for="projectinput1" class="black">Email</label>
                        <input type="email" class="form-control" name="inputEmail" id="inputEmail" placeholder="Email"
                            ngModel required email>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label for="projectinput1" class="black">Password</label>
                        <input type="password" class="form-control" name="inputPass" id="inputPass"
                            placeholder="Password" ngModel required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0 ml-3">
                                <input type="checkbox" class="custom-control-input" checked id="rememberme">
                                <label class="custom-control-label content-header" for="rememberme">Remember
                                    Me</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0 ml-3">
                                <label for="projectinput1" class="float-left content-header"><a
                                        (click)="onForgotPassword()">Forgot
                                        Password?</a></label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-6">
                            <button type="login" class="btn btn-blue btn-block btn-raised">Login </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>