.img-holder {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 1700px;
    min-height: 700px;
    // height: 100%;
    overflow: hidden;
    background-image: url("assets/img/logos/login.jpg");
    padding: 60px;
    text-align: center;
    z-index: 999;
}

.img-fluid {
    max-width: 128%;
}

.content-header {
    color: #6a3794;
}