<div class="row">
  <div class="col-sm-12">
      <div class="card">
          <div class="card-body">
              <div class="px-3">
                  <form class="form form-horizontal">
                      <div class="form-body">
                          <h4 class="form-section"><i class="ft-info"></i> Portfolio </h4>
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group row">
                                      <label class="col-md-3 label-control" for="userinput1"> First Name: </label>
                                      <div class="col-md-9">
                                          <input type="text" id="userinput1" class="form-control" name="firstname">
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group row">
                                      <label class="col-md-3 label-control" for="userinput2"> Last Name: </label>
                                      <div class="col-md-9">
                                          <input type="text" id="userinput2" class="form-control" name="lastname">
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group row">
                                      <label class="col-md-3 label-control" for="userinput3"> Sex: </label>
                                      <div class="col-md-9">
                                          <select id="userinput3" name="sex" class="form-control">
                                              <option value="none" selected="" disabled="">Select</option>
                                              <option value="male">Male</option>
                                              <option value="female">Female</option>
                                          </select>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group row">
                                      <label class="col-md-3 label-control" for="userinput4"> Birthday:
                                      </label>
                                      <div class="col-md-9">
                                          <div class="position-relative has-icon-left">
                                              <input type="date" id="userinput4" class="form-control" name="date">
                                              <div class="form-control-position">
                                                  <i class="ft-calendar"></i>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group row">
                                      <label class="col-md-3 label-control" for="userinput5"> E-mail: </label>
                                      <div class="col-md-9">
                                          <input class="form-control" type="email" name="email" id="userinput5">
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group row">
                                      <label class="col-md-3 label-control" for="userinput6"> Phone Number: </label>
                                      <div class="col-md-9">
                                          <input class="form-control" type="tel" name="tel" id="userinput6">
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <h4 class="form-section"><i class="ft-mail"></i> Address </h4>

                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group row">
                                      <label class="col-md-3 label-control" for="userinput7"> Address 1: </label>
                                      <div class="col-md-9">
                                          <input class="form-control" type="text" name="address1" id="userinput7">
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group row">
                                      <label class="col-md-3 label-control" for="userinput8"> Address 2: </label>
                                      <div class="col-md-9">
                                          <input class="form-control" type="text" name="address2" id="userinput8">
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group row">
                                      <label class="col-md-3 label-control" for="userinput9"> Province: </label>
                                      <div class="col-md-9">
                                          <select id="userinput9" name="provice" class="form-control">
                                              <option value="none" selected="" disabled=""> Select </option>
                                              <option value="design">design</option>
                                              <option value="development">development</option>
                                              <option value="illustration">illustration</option>
                                              <option value="branding">branding</option>
                                              <option value="video">video</option>
                                          </select>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group row">
                                      <label class="col-md-3 label-control" for="userinput10"> District: </label>
                                      <div class="col-md-9">
                                          <select id="userinput10" name="district" class="form-control">
                                              <option value="none" selected="" disabled=""> Select </option>
                                              <option value="design">design</option>
                                              <option value="development">development</option>
                                              <option value="illustration">illustration</option>
                                              <option value="branding">branding</option>
                                              <option value="video">video</option>
                                          </select>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group row">
                                      <label class="col-md-3 label-control" for="userinput11"> Sub District: </label>
                                      <div class="col-md-9">
                                          <select id="userinput11" name="district" class="form-control">
                                              <option value="none" selected="" disabled=""> Select </option>
                                              <option value="design">design</option>
                                              <option value="development">development</option>
                                              <option value="illustration">illustration</option>
                                              <option value="branding">branding</option>
                                              <option value="video">video</option>
                                          </select>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group row">
                                      <label class="col-md-3 label-control" for="userinput12"> Zipcode:
                                      </label>
                                      <div class="col-md-9">
                                          <input class="form-control" type="text" name="zipcode" id="userinput12">

                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>

                      <div class="form-actions right">
                          <button type="button" class="btn btn-raised btn-success">
                              <i class="fa fa-check-square-o"></i> Save
                          </button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>