// Remove this SCSS from production
.main-content {
    .color-palette {
        .color-group {
            li{
                list-style-type: none;
                &.main-color{
                    border-bottom: 4px solid #fafafa;
                }
                &.color{
                    padding: 10px 15px 11px;
                    margin: 0;
                    &.main-color{
                        .name{
                            display: block;
                            margin-bottom: 53px;
                            font-size: 2rem;
                        }
                    }
                    .hex{
                        float: right;
                        text-transform: uppercase;
                        display: block;
                    }
                }
            }
            &:last-child {
                li{
                    &.main-color{
                        border-bottom: 4px solid #fafafa;
                    }
                    &.color{
                        padding: 10px 15px 11px;
                        margin: 0;
                        &.main-color{
                            .name{
                                display: block;
                                margin-bottom: 53px;
                                font-size: 2rem;
                            }
                        }
                        .hex{
                            float: right;
                            text-transform: uppercase;
                            display: block;
                        }
                    }
                }
            }
        }
        .light-strong{
            span{
                color: #fff;
            }
        }
        .dark{
            span{
                color: rgba(0,0,0,.87);
            }
        }
        span{
            color: rgba(255,255,255,.87);
            font-size: 14px;
            font-weight: 500;
            &.light-strong{
                color: #fff;
            }
            &.dark{
                color: rgba(0,0,0,.87);
            }
        }
    }
}

.tap-top {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 150px;
    right: 30px;
    z-index: 99;
    color: $white;
    text-align: center;
    background: linear-gradient(to top, $green, $light-green);
    border-radius: 100%;
    font-size: 22px;
    cursor: pointer;
    line-height: 2.2;
    display: none;
    border: 1px solid $white;
  }