<section class="dashboard-template">
	<div class="row">
		<div class="col-lg-12 header">
			<ngb-carousel>
				<ng-template ngbSlide>
					<img src="assets/img/photos/header_eng1.jpg" alt="Random first slide">
					<div class="carousel-caption">
					</div>
				</ng-template>
				<ng-template ngbSlide>
					<img src="assets/img/photos/header_eng2.jpg" alt="Random second slide">
					<div class="carousel-caption">
					</div>
				</ng-template>
				<ng-template ngbSlide>
					<img src="assets/img/photos/header_eng3.jpg" alt="Random second slide">
					<div class="carousel-caption">
					</div>
				</ng-template>
			</ngb-carousel>
		</div>
	</div>

	<div class="container-fluid header">
		<div class="container">
			<div class="row">
				<div class="col-8 text-left">
					<div class="content-header"> Top Faculty </div>
				</div>
			</div>
			<div class="row text-left" matchHeight="card">
				<div class="col-xl-3 col-lg-6 col-md-12">
					<div class="card">
						<div class="card-body">
							<img class="card-img-top img-fluid" src="assets/img/photos/tf_port1.jpg"
								alt="Card image cap">
							<div class="card-block">
								<p class="card-title text-center">ENGINEERING</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-6 col-md-12">
					<div class="card">
						<div class="card-body">
							<img class="card-img-top img-fluid" src="assets/img/photos/tf_port2.jpg"
								alt="Card image cap">
							<div class="card-block">
								<p class="card-title text-center">COMMUNICATION ARTS</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-6 col-md-12">
					<div class="card">
						<div class="card-body">
							<img class="card-img-top img-fluid" src="assets/img/photos/tf_port3.jpg"
								alt="Card image cap">
							<div class="card-block">
								<p class="card-title text-center">ENGINEERING</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-6 col-md-12">
					<div class="card">
						<div class="card-body">
							<img class="card-img-top img-fluid" src="assets/img/photos/tf_port4.jpg"
								alt="Card image cap">
							<div class="card-block">
								<p class="card-title text-center">ENGINEERING</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid header">
		<div class="container">
			<div class="row text-left">
				<div class="col-12">
					<div class="content-header">Recommend Template</div>
				</div>
			</div>
			<div class="row text-left" matchHeight="card">
				<div class="col-xl-3 col-lg-6 col-md-12">
					<div class="card">
						<div class="card-body">
							<img class="card-img-top img-fluid" src="assets/img/photos/rt_port1.jpg"
								alt="Card image cap">
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-6 col-md-12">
					<div class="card">
						<div class="card-body">
							<img class="card-img-top img-fluid" src="assets/img/photos/rt_port2.jpg"
								alt="Card image cap">
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-6 col-md-12">
					<div class="card">
						<div class="card-body">
							<img class="card-img-top img-fluid" src="assets/img/photos/rt_port3.jpg"
								alt="Card image cap">
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-6 col-md-12">
					<div class="card">
						<div class="card-body">
							<img class="card-img-top img-fluid" src="assets/img/photos/rt_port4.jpg"
								alt="Card image cap">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid header">
		<div class="container">
			<div class="row text-left">
				<div class="col-12">
					<div class="content-header">Hot Hit Template</div>
				</div>
			</div>
			<div class="row text-left" matchHeight="card">
				<div class="col-xl-3 col-lg-6 col-md-12">
					<div class="card">
						<div class="card-body">
							<img class="card-img-top img-fluid" src="assets/img/photos/hh_port1.jpg"
								alt="Card image cap">
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-6 col-md-12">
					<div class="card">
						<div class="card-body">
							<img class="card-img-top img-fluid" src="assets/img/photos/hh_port2.jpg"
								alt="Card image cap">
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-6 col-md-12">
					<div class="card">
						<div class="card-body">
							<img class="card-img-top img-fluid" src="assets/img/photos/hh_port3.jpg"
								alt="Card image cap">
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-6 col-md-12">
					<div class="card">
						<div class="card-body">
							<img class="card-img-top img-fluid" src="assets/img/photos/hh_port4.jpg"
								alt="Card image cap">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="dashboard-template">
	<div class="row">
		<div class="col-lg-12 header">
			<ngb-carousel>
				<ng-template ngbSlide>
					<img src="assets/img/photos/header_cl_tt1.png" alt="Random first slide">
					<div class="carousel-caption">
					</div>
				</ng-template>
				<ng-template ngbSlide>
					<img src="assets/img/photos/header_cl_tt2.png" alt="Random first slide">
					<div class="carousel-caption">
					</div>
				</ng-template>
				<ng-template ngbSlide>
					<img src="assets/img/photos/header_cl_tt3.png" alt="Random first slide">
					<div class="carousel-caption">
					</div>
				</ng-template>
			</ngb-carousel>
		</div>
	</div>

	<div class="container-fluid header">
		<div class="container">
			<div class="row text-left">
				<div class="col-12">
					<div class="content-header">Graphics Template</div>
				</div>
			</div>
			<div class="row text-left" matchHeight="card">
				<div class="col-xl-3 col-lg-6 col-md-12">
					<div class="card">
						<div class="card-body">
							<img class="card-img-top img-fluid" src="assets/img/photos/gp_port1.jpg"
								alt="Card image cap">
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-6 col-md-12">
					<div class="card">
						<div class="card-body">
							<img class="card-img-top img-fluid" src="assets/img/photos/gp_port2.jpg"
								alt="Card image cap">
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-6 col-md-12">
					<div class="card">
						<div class="card-body">
							<img class="card-img-top img-fluid" src="assets/img/photos/gp_port3.jpg"
								alt="Card image cap">
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-6 col-md-12">
					<div class="card">
						<div class="card-body">
							<img class="card-img-top img-fluid" src="assets/img/photos/gp_port4.jpg"
								alt="Card image cap">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid header">
		<div class="container">
			<div class="row text-left">
				<div class="col-12">
					<div class="content-header">Horizontal Template</div>
				</div>
			</div>
			<div class="row text-left">
				<div class="col-md-6">
					<div class="card">
						<div class="card-body">
							<img class="card-img-top img-fluid" src="assets/img/photos/ht_port1.jpg" alt="Card image cap"
								style="height: 397px; width: 600px;">
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-lg-6 col-md-12">
							<div class="card">
								<div class="card-body">
									<img class="card-img-top img-fluid" src="assets/img/photos/ht_port2.jpg"
										alt="Card image cap">
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-12">
							<div class="card">
								<div class="card-body">
									<img class="card-img-top img-fluid" src="assets/img/photos/ht_port3.jpg"
										alt="Card image cap">
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-12">
							<div class="card">
								<div class="card-body">
									<img class="card-img-top img-fluid" src="assets/img/photos/ht_port4.jpg"
										alt="Card image cap">
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-12">
							<div class="card">
								<div class="card-body">
									<img class="card-img-top img-fluid" src="assets/img/photos/ht_port5.jpg"
										alt="Card image cap">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>