.header {
    padding-right: 0px !important; 
    padding-left: 0px !important;
    padding-bottom: 50px !important;
}

.content-header {
    font-size: 2.9rem;
    padding-bottom: 1rem !important;
    color: #6a3794;
}

.feature {
    background-image: url(assets/img/photos/header1.jpg);
    width: 100vw;
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0;
    margin-top: 20px;
    margin-bottom: 65px;
    position: relative;
    display: flex;
    align-items: center;
  }