<nav class="navbar navbar-expand-lg navbar-light bg-faded header-navbar bg-white">
    <div class="logo clearfix">
        <a [routerLink]="['/dashboard/dashboard']" class="logo-text float-left">
            <div class="logo-img">
                <img src="assets/img/logos/logo.png" style="width: 300px" />
            </div>
        </a>
    </div>
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle d-lg-none float-left" data-toggle="collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="d-lg-none navbar-right navbar-collapse-toggle">
                <a class="open-navbar-container" (click)="isCollapsed = !isCollapsed"
                    [attr.aria-expanded]="!isCollapsed" aria-controls="navbarSupportedContent">
                    <i class="ft-more-vertical"></i>
                </a>
            </span>
        </div>
        <div class="navbar-container align-items-center justify-content-center">
            <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a routerLink="/template" class="nav-link">
                            <span class="font-medium-2 text-bold-200 black "> TEMPLATES</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/extemplate" class="nav-link">
                            <span class="font-medium-2 text-bold-200 black ">EXAMPLE PORTFOLIO</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="" class="nav-link">
                            <span class="font-medium-2 text-bold-200 black ">HOW TO CREATE</span>
                        </a>
                    </li>
                    <li class="nav-item" ngbDropdown [placement]="placement">
                        <a class="nav-link position-relative" id="dropdownBasic3" ngbDropdownToggle>
                            <i class="ft-user font-medium-5 text-bold-200 black "></i>
                            <p class="d-none">User Settings</p>
                        </a>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic3" class="text-left">

                            <a class="dropdown-item py-1" routerLink="/pages/profile">
                                <i class="ft-settings mr-2"></i>
                                <span>Profile</span>
                            </a>
                            <a class="dropdown-item py-1" routerLink="/pages/profile">
                                <i class="ft-edit mr-2"></i>
                                <span>Portfolio</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:;">
                                <i class="ft-power mr-2"></i>
                                <span>Logout</span>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/pages/login" class="nav-link btn btn-raised btn-round mr-1 gradient-purple-blue">
                            <span class="white" id="navbarSupportedContent" >LOGIN / REGISTER</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>