<section class="template">
	<div class="row">
		<div class="col-lg-12 header">
			<ngb-carousel>
				<ng-template ngbSlide>
					<img src="assets/img/photos/header_eng2.jpg" alt="Random second slide">
					<div class="carousel-caption">
					</div>
				</ng-template>
				<!-- <ng-template ngbSlide>
					<img src="assets/img/photos/header6.jpg" alt="Random second slide">
					<div class="carousel-caption">
					</div>
				</ng-template> -->
			</ngb-carousel>
		</div>
	</div>
	<div class="col-lg-12">
		<div class="row text-left">
			<div class="col-md-4">
				<div class="card">
					<div class="card-header" style="background-color: #663b95;">
						<h3 class="text-bold-500 white"><i class="ft-filter"></i> FILTER</h3>
					</div>
					<div class="card-body">
						<div class="card-block">
							<form class="form">
								<div class="form-body">
									<h5 class="text-bold-500 mt-2 m-2"> FACULTY OF SCIENCE</h5>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<div class="custom-control custom-checkbox m-2">
													<input type="checkbox" class="custom-control-input" id="medicine">
													<label class="custom-control-label" for="medicine">Faculty of
														Medicine</label>
												</div>
												<div class="custom-control custom-checkbox m-2">
													<input type="checkbox" class="custom-control-input" id="dentistry">
													<label class="custom-control-label" for="dentistry">Faculty of
														Dentistry
													</label>
												</div>
												<div class="custom-control custom-checkbox m-2">
													<input type="checkbox" class="custom-control-input"
														id="veterinarymedicine">
													<label class="custom-control-label" for="veterinarymedicine">Faculty
														of
														Veterinary Medicine</label>
												</div>
												<div class="custom-control custom-checkbox m-2">
													<input type="checkbox" class="custom-control-input"
														id="pharmaceuticalsciences">
													<label class="custom-control-label"
														for="pharmaceuticalsciences">Faculty of
														Pharmaceutical Sciences</label>
												</div>
												<div class="custom-control custom-checkbox m-2">
													<input type="checkbox" class="custom-control-input" id="nursing">
													<label class="custom-control-label" for="nursing">Faculty of
														Nursing</label>
												</div>
												<div class="custom-control custom-checkbox m-2">
													<input type="checkbox" class="custom-control-input"
														id="medicaltechnology">
													<label class="custom-control-label" for="medicaltechnology">Faculty
														of
														Medical Technology </label>
												</div>
												<div class="custom-control custom-checkbox m-2">
													<input type="checkbox" class="custom-control-input"
														id="alliedhealthsciences">
													<label class="custom-control-label"
														for="alliedhealthsciences">Faculty of Allied
														Health Sciences</label>
												</div>
												<div class="custom-control custom-checkbox m-2">
													<input type="checkbox" class="custom-control-input"
														id="thaitraditionalmedicie">
													<label class="custom-control-label"
														for="thaitraditionalmedicie">Faculty of Thai
														Traditional Medicie</label>
												</div>
												<div class="custom-control custom-checkbox m-2">
													<input type="checkbox" class="custom-control-input" id="psychology">
													<label class="custom-control-label" for="psychology">Faculty of
														Psychology</label>
												</div>
												<div class="custom-control custom-checkbox m-2">
													<input type="checkbox" class="custom-control-input"
														id="engineering">
													<label class="custom-control-label" for="engineering">Faculty of
														Engineering</label>
												</div>
												<div class="custom-control custom-checkbox m-2">
													<input type="checkbox" class="custom-control-input" id="science">
													<label class="custom-control-label" for="11rd-item">Faculty of
														Science</label>
												</div>
												<div class="custom-control custom-checkbox m-2">
													<input type="checkbox" class="custom-control-input"
														id="agriculture">
													<label class="custom-control-label" for="agriculture">Faculty of
														Agriculture</label>
												</div>
												<div class="custom-control custom-checkbox m-2">
													<input type="checkbox" class="custom-control-input"
														id="architecture">
													<label class="custom-control-label" for="architecture">Faculty of
														Architecture</label>
												</div>
												<div class="custom-control custom-checkbox m-2">
													<input type="checkbox" class="custom-control-input"
														id="airlinebusiness">
													<label class="custom-control-label" for="airlinebusiness">Faculty of
														Airline Business</label>
												</div>
											</div>
										</div>
									</div>
									<hr>
									<h5 class="text-bold-500 mt-3 m-2">Faculty of Art</h5>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<div class="custom-control custom-checkbox m-2">
													<input type="checkbox" class="custom-control-input" id="arts">
													<label class="custom-control-label" for="arts">Faculty of
														Arts</label>
												</div>
												<div class="custom-control custom-checkbox m-2">
													<input type="checkbox" class="custom-control-input"
														id="communicationarts">
													<label class="custom-control-label" for="16nd-item">Faculty of
														Communication Arts
													</label>
												</div>
												<div class="custom-control custom-checkbox m-2">
													<input type="checkbox" class="custom-control-input" id="commerce">
													<label class="custom-control-label" for="17rd-item">Faculty of
														Commerce and Accountancy</label>
												</div>
												<div class="custom-control custom-checkbox m-2">
													<input type="checkbox" class="custom-control-input" id="education">
													<label class="custom-control-label" for="education">Faculty of
														Education</label>
												</div>
												<div class="custom-control custom-checkbox m-2">
													<input type="checkbox" class="custom-control-input" id="law">
													<label class="custom-control-label" for="law">Faculty of Law
													</label>
												</div>
												<div class="custom-control custom-checkbox m-2">
													<input type="checkbox" class="custom-control-input"
														id="politicalscience">
													<label class="custom-control-label" for="politicalscience">Faculty
														of
														Political Science</label>
												</div>
												<div class="custom-control custom-checkbox m-2">
													<input type="checkbox" class="custom-control-input" id="economics">
													<label class="custom-control-label" for="economics">Faculty of
														Economics </label>
												</div>
												<div class="custom-control custom-checkbox m-2">
													<input type="checkbox" class="custom-control-input" id="fine">
													<label class="custom-control-label" for="fine">Faculty of Fine
														and Applied Arts </label>
												</div>
											</div>
										</div>
									</div>
									<hr>
									<h5 class="text-bold-500 mt-3 m-2"> Template Portfolio</h5>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<div class="custom-control custom-checkbox m-2">
													<input type="checkbox" class="custom-control-input" id="twotone">
													<label class="custom-control-label" for="twotone">Two Tone
														Template</label>
												</div>
												<div class="custom-control custom-checkbox m-2">
													<input type="checkbox" class="custom-control-input" id="balloon">
													<label class="custom-control-label" for="balloon"> Balloon Template
													</label>
												</div>
												<div class="custom-control custom-checkbox m-2">
													<input type="checkbox" class="custom-control-input" id="square">
													<label class="custom-control-label" for="square">Square
														Template</label>
												</div>
												<div class="custom-control custom-checkbox m-2">
													<input type="checkbox" class="custom-control-input" id="graphics">
													<label class="custom-control-label" for="graphics">Graphics
														Template</label>
												</div>
												<div class="custom-control custom-checkbox m-2">
													<input type="checkbox" class="custom-control-input" id="horizontal">
													<label class="custom-control-label" for="horizontal">Horizontal
														Template</label>
												</div>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-8">
				<div class="row text-left" matchHeight="card">
					<div class="col-xl-3 col-lg-6 col-md-12">
						<div class="card">
							<div class="card-body">
								<img class="card-img-top img-fluid" src="assets/img/portfolio/port1.jpg"
									alt="Card image cap">
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-6 col-md-12">
						<div class="card">
							<div class="card-body">
								<img class="card-img-top img-fluid" src="assets/img/portfolio/port2.jpg"
									alt="Card image cap">
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-6 col-md-12">
						<div class="card">
							<div class="card-body">
								<img class="card-img-top img-fluid" src="assets/img/portfolio/port3.jpg"
									alt="Card image cap">
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-6 col-md-12">
						<div class="card">
							<div class="card-body">
								<img class="card-img-top img-fluid" src="assets/img/portfolio/port4.jpg"
									alt="Card image cap">
							</div>
						</div>
					</div>
				</div>
				<div class="row text-left" matchHeight="card">
					<div class="col-xl-3 col-lg-6 col-md-12">
						<div class="card">
							<div class="card-body">
								<img class="card-img-top img-fluid" src="assets/img/portfolio/port5.jpg"
									alt="Card image cap">
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-6 col-md-12">
						<div class="card">
							<div class="card-body">
								<img class="card-img-top img-fluid" src="assets/img/portfolio/port6.jpg"
									alt="Card image cap">
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-6 col-md-12">
						<div class="card">
							<div class="card-body">
								<img class="card-img-top img-fluid" src="assets/img/portfolio/port7.jpg"
									alt="Card image cap">
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-6 col-md-12">
						<div class="card">
							<div class="card-body">
								<img class="card-img-top img-fluid" src="assets/img/portfolio/port8.jpg"
									alt="Card image cap">
							</div>
						</div>
					</div>
				</div>
				<div class="row text-left" matchHeight="card">
					<div class="col-xl-3 col-lg-6 col-md-12">
						<div class="card">
							<div class="card-body">
								<img class="card-img-top img-fluid" src="assets/img/portfolio/port9.jpg"
									alt="Card image cap">
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-6 col-md-12">
						<div class="card">
							<div class="card-body">
								<img class="card-img-top img-fluid" src="assets/img/portfolio/port10.jpg"
									alt="Card image cap">
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-6 col-md-12">
						<div class="card">
							<div class="card-body">
								<img class="card-img-top img-fluid" src="assets/img/portfolio/port11.jpg"
									alt="Card image cap">
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-6 col-md-12">
						<div class="card">
							<div class="card-body">
								<img class="card-img-top img-fluid" src="assets/img/portfolio/port12.jpg"
									alt="Card image cap">
							</div>
						</div>
					</div>
				</div>
				<div class="row text-left" matchHeight="card">
					<div class="col-xl-3 col-lg-6 col-md-12">
						<div class="card">
							<div class="card-body">
								<img class="card-img-top img-fluid" src="assets/img/portfolio/port13.jpg"
									alt="Card image cap">
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-6 col-md-12">
						<div class="card">
							<div class="card-body">
								<img class="card-img-top img-fluid" src="assets/img/portfolio/port14.jpg"
									alt="Card image cap">
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-6 col-md-12">
						<div class="card">
							<div class="card-body">
								<img class="card-img-top img-fluid" src="assets/img/portfolio/port15.jpg"
									alt="Card image cap">
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-6 col-md-12">
						<div class="card">
							<div class="card-body">
								<img class="card-img-top img-fluid" src="assets/img/portfolio/port16.jpg"
									alt="Card image cap">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>