.header {
    padding-right: 0px !important; 
    padding-left: 0px !important;
    padding-bottom: 50px !important;
}

form{
    label{
        color: #000000 !important;
        font-size: 12px !important;
        text-transform: uppercase !important;
        letter-spacing: 2px !important;
        font-weight: 400 !important;
    }
}