<section id="user-profile">
    <div class="row">
        <div class="col-12">
            <div class="card profile-with-cover">
                <div class="card-img-top img-fluid bg-cover height-300" style="background: url('assets/img/photos/14.jpg') 50%;"></div>
                <div class="media profil-cover-details row">
                    <div class="col-5">
                        <div class="align-self-start halfway-fab pl-3 pt-2">
                            <div class="text-left">
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="align-self-center halfway-fab text-center">
                            <a class="profile-image">
                                <img src="assets/img/portrait/avatars/avatar-08.png" class="rounded-circle img-border gradient-summer width-100"
                                    alt="Card image">
                            </a>
                        </div>
                    </div>
                    <div class="col-5">
                    </div>
                </div>
                <div class="profile-section">
                    <div class="row">
                        <div class="col-lg-5 col-md-5">
                            <ul class="profile-menu no-list-style">
                                <li>
                                    <a (click)="showPage('About')" [ngClass]="currentPage === 'About' ? 'primary font-medium-2 font-weight-600 active' : 'primary font-medium-2 font-weight-600'"> Profile </a>
                                </li>
                                <li>
                                    <a (click)="showPage('Portfolio')" [ngClass]="currentPage === 'Portfolio' ? 'primary font-medium-2 font-weight-600 active' : 'primary font-medium-2 font-weight-600'"> Data Portfolio </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-2 col-md-2 text-center">
                            <span class="font-medium-2 text-uppercase">Jose Diaz</span>
                        </div>
                        <div class="col-lg-5 col-md-5">
                            <ul class="profile-menu no-list-style">
                                <li>
                                    <a (click)="showPage('Templates')" [ngClass]="currentPage === 'Templates' ? 'primary font-medium-2 font-weight-600 active' : 'primary font-medium-2 font-weight-600'"> My Templates </a>
                                </li>
                                <li>
                                    <a (click)="showPage('Settings')" [ngClass]="currentPage === 'Settings' ? 'primary font-medium-2 font-weight-600 active' : 'primary font-medium-2 font-weight-600'"> Setting </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about" *ngIf="currentPage === 'About'">
    <app-about></app-about>
</section>

<section id="portfolio" *ngIf="currentPage === 'Portfolio'">
    <app-portfolio></app-portfolio>
</section>
<section id="templates" *ngIf="currentPage === 'Templates'">
    <app-templates></app-templates>
</section>

<section id="settings" *ngIf="currentPage === 'Settings'">
    <app-settings></app-settings>
</section>