<section id="contact">
    <div class="row">
        <div class="col-12">
            <div class="card bg-black white text-center p-4">
                <div class="container-fluid">
                    <div class="bottom-section">
                        <div class="row">
                            <div class="col-md-6 p-0">
                                <img src="assets/img/logos/logo-1.png" style=" width: 400px;">
                            </div>
                            <div class="col-md-6 p-0 text-left">
                                <h3 class="text-white">CONTACT US</h3>
                                <hr class="hr-width">
                                <h5 class="text-big text-white"> <img src="assets/img/logos/facebook.png"
                                        style=" width: 50px;">
                                    Napassawan Plyyong
                                </h5>
                                <h5 class="text-big text-white"> <img src="assets/img/logos/instagram.png"
                                    style=" width: 50px;">
                                    madmee.np | #reviewportbymadmeenp
                                </h5>
                                <h5 class="text-big text-white"> <img src="assets/img/logos/line.png"
                                    style=" width: 50px;">
                                    madmee.np
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container-fluid text-center">
        <p class="copyright">
                &copy; Copyright {{currentDate | date: 'yyyy'}}, All Rights Reserved Powered by PORFOLIOEASY
        </p>
    </div>
</footer>

<div class="tap-top">
    <div>
      <i class="ft-arrow-up"></i>
    </div>
  </div>